body {
  position: relative;
  min-height: 100vh;
  /*padding: 50px 0px 0px 0px;*/
  font-size: 20px;
}

.hidden {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  height: 50px;
}

.main {
  position: relative;
  padding-left: 150px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
  min-height: 200px;

}

.main .dashboard {
  position: absolute;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 150px;
}

.main .dashboard .list-dashboard .item-dashboard{
  cursor: pointer;
}
.main .dashboard .list-dashboard .item-dashboard:hover{
  color: red;
}

.main .main-content {}

.footer {
  height: 50px;
  text-align: center;
  background-color: red;
  position: absolute;
  bottom: 0;
  width: 100%;
}
